/* style.css */

body
{
	position: relative;
	text-align: center;
	background-attachment: fixed;
	min-width: 700px;
}

header
{
	position: relative;
}

#logo /*Logo pagina Index*/
{
	position: absolute;
	width: 400px;
	left: 30px;
	top: 10px;
}

#ricerca /* Barra di ricerca */
{
	position: absolute;
	right: 15%;
	top: 110px;
}

table /* Attributi che ogni table ha */
{
	position: absolute;
	left: 50%;
	margin-left: -45%;
	margin-top: 200px;
	width: 90%;
	font-family: Lato-Bold;
	font-size: 18px;
	margin-bottom: 100px;
	/*border: 1px solid black;
	border-radius: 5px;*/
}

tr /* Attributi che ogni tr ha */
{
	border: 1px dashed black;
}

th /* Attributi che ogni th ha */
{
	height: 50px;
	background-color: #6c7ae0;
	color:white;
}

td /* Attributi che ogni td ha */
{
	/*border: 1px solid black;*/
	height: 50px;
}

button /* Attributi che ogni bottone ha */
{
	height: 50px;
	width: 49%;
}

#button
{
	height: 50px;
	width: 100px;
}

#inRiga
{
	display: inline;
}

.coloreChiaro
{
	background-color: white;
}

.coloreScuro
{
	background-color: #ebebeb;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #6c7ae0;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height:400px;
    color:white;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#registrazione /* Attributi del form */
{
	position: absolute;
	width: 300px;
	height: 30px;
	left: 50%;
	margin-top:0%;
	margin-left: -150px;
}
